/* Form styles */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form heading styles */
form h2 {
    text-align: center;
    color: #333;
}

/* Input styles */
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Submit button styles */
form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: default;
}

/* back_to_login style button */
.back-to-login {
    margin-bottom: 10px;
}

.back-to-login a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

.back-to-login a:hover {
    text-decoration: underline;
}

/* Error message styles */
form .error-message {
    color: #ff0000;
    margin-bottom: 10px;
}

/* Global styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Header styles */
header {
    background-color: #fff;
    padding: 20px;
    text-align: left;
}

/* h1 style  */
header h1 {
    margin: 0;
    font-size: 22;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
