body, button, input, select, textarea {
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FDFDFD;
    margin: 0;
}

ul {
list-style-type: none;
}

li a {
    font-size: xx-large;
    font-weight: bold;
    color: #2c3e50;
    position: fixed;
    top: 10px;
    left: 20px;
    text-decoration: none;
    margin-left: 18px;
    margin-top: 12px;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages {
    margin-bottom: 10px;
}

.alert-error {
    color: #dc3545;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    color: #495057;
    font-weight: bold;
}

input {
    padding: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.grid {
    display: flex;
    gap: 10px;
}

button {
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
}

.reset-btn {
    background-color: #6c757d;
    color: #fff;
}

/* Hover effect on buttons */
button:hover {
    filter: brightness(90%);
}

/* Responsive styling */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}