    /* Customize the title */
    .swal2-title {
      color: blue;
      font-size: 24px;
      /* Add other styles as needed */
    }

    /* Customize the content */
    .swal2-content {
      color: green;
      font-size: 16px;
      /* Add other styles as needed */
    }

    /* Customize the confirm button */
    .swal2-confirm {
      background-color: red;
      color: white;
      /* Add other styles as needed */
    }

    /* Customize the cancel button */
    .swal2-cancel {
      background-color: gray;
      color: white;
      /* Add other styles as needed */
    }

    /* Customize the container (the whole alert) */
    .swal2-popup {
      border-radius: 10px;
      /* Add other styles as needed */
    }
    #uploadForm {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;"
    }

    body, button, input, select, textarea {
        font-family: 'Montserrat', sans-serif;
    }

    body {
            margin: 0;
            background-color: #FDFDFD;
        }
        .header {
            background-color: rgb(1 119 169 / 10%);
            color: #040404;
            text-align: center;
            padding: 10px;
        }
       nav {
            background-color: rgb(1 119 169 / 10%);
            font-weight: 600;
            font-size: large;
            padding: 15px;
            text-align: center;
            overflow: hidden;
            /*display: flex;*/
/*            justify-content: space-between;
            align-items: center; *//* Added align-items to vertically center items *//*
            min-height: 80px; *//* Adjusted min-height for vertical centering *//*

            padding: 2px;
            background-color: rgb(1 119 169 / 10%);
            border-radius: 4px;
            color: #010101;
            font-weight: 600;
            font-size: large;*/
        }
        nav ul {

            list-style-type: none;
            margin: 0; /* Reset margin */
            padding: 0; /* Reset padding */
        }

        nav ul li {
            margin-right: 20px;
            display: inline-block;
        }
/*        nav ul li:last-child {
            margin-right: 0; *//* Remove margin from the last item *//*
            }*/
        nav ul li a {
            text-decoration: none;
            color: #010101;;
    font-weight: bold;
    padding: 8px 15px;
/*    border-radius: 5px;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;*/
/*            text-decoration: none;
            color: #010101;
            border-radius: 4px;
            padding: 8px 10px;
            border: 1px solid transparent;
            transition: padding 0.3s ease-in-out;*/
        }
        nav ul li a:hover {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 8px 20px;
            border: 1px solid transparent;
            background-color: #fff;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        .sidebar {
            width: 250px;
            background-color: #f4f4f4;
            float: left;
            height: 90%;
            overflow-y: auto;
            padding: 5px;
            border-radius: 8px;
            margin-top: 20px;
        }
        .chat-container {
            margin-left: 250px;
            padding: 20px;
        }
        .chat-history-container {
            overflow-y: auto;
            height: calc(100vh - 320px);
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
        }
        .message {
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 10px;


        }
        .message.sent {
            background-color: #dcf8c6;
            align-self: flex-end;
        }
        .message.received {
            background-color: #fff;
            align-self: flex-start;
        }
        .input-area {
            display: flex;
            align-items: center;
            background-color: #fff;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .input-area input[type="text"] {
            flex: 1;
            padding: 8px;
            margin-right: 10px;
            border: none;
            border-radius: 4px;
            outline: none;
        }
        .input-area button {
            padding: 8px 20px;
            background-color: #0177a9;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button {
            padding: 10px 20px;
            display: flex;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 10px;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #555;
        }

        /* Styling for select dropdowns */
        select {
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M4 0l4 7H0z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position-x: calc(100% - 8px);
            background-position-y: center;
            cursor: pointer;
            width: inherit;

        }
        select:focus {
            outline: none;
            border-color: #333;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

          body {

            background-color: #f4f4f8;
        }

        .sidebar {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .chat-history-container,
        .message.sent {
            background-color: #fff;
            border: 1px solid #ccd6f6;
        }
        .message.received {
            background-color: #f0f3fa;
            border: 1px solid #ccd6f6;
        }
        .input-area {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        button {
            background-color: #001f3f;
            color: #fff;
        }
        button:hover {
            background-color: #003366;
        }
        select {
            border: 1px solid #ccd6f6;
            background-color: #fff;
            color: #001f3f;
        }
        select:focus {
            outline: none;
            border-color: #001f3f;
        }
        footer {
            background-color: #001f3f;
            color: #fff;
        }

/*##########################################*/
        .message img {
        float: left;
        max-width: 40px;

        margin-right: 20px;
        border-radius: 20%;
        }

            select {
            border: none;
            background-color: rgb(1 119 169 / 10%);
            color: #001f3f;

        .file-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 5px;
    }
        }
        .container {
            text-align: center;
            width: 80%;
            padding: 20px;
        }
        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.2em;
            line-height: 1.6;
        }
        .a-big {
            display: inline-block;
            border-radius: 4px;
            padding: 12px 24px; /* Increased padding for bigger button */
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            border: 4px solid #FF6B0A; /* Changed border thickness */

            color: #2c3e50; /* Set text color to white */
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        .a-big:hover {
            background-color: rgba(1, 119, 169, 0.3); /* Adjusted hover background color */
            color: #fff; /* Adjusted hover text color */
        }